
[Database connection]
# Servername of database
servername = localhost
# Databasename
databasename =
# Databaseuser 
user = 
# Password to login into database
password = 

[facebook_connection]
# Facebook access token https://developers.facebook.com/docs/facebook-login/access-tokens/
# Get short-lived access token from Graph API Explorer https://developers.facebook.com/tools/explorer
# or long-lived access token with
# GET /oauth/access_token?  
#    grant_type=fb_exchange_token&           
#    client_id={app-id}&
#    client_secret={app-secret}&
#    fb_exchange_token={short-lived-token
# or alternative https://graph.facebook.com/oauth/access_token?client_id={app-id}&client_secret={app-secret}&grant_type=fb_exchange_token&fb_exchange_token={short-lived-token}
accesstoken = 

[facebook_worker]
# 
retry_wait_seconds = 60
posts_limitation = 100
reactions_limitation = 250
comments_limitation = 200
max_threads = 4